* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "SegoeUI", sans-serif;
}
.components__card, .components__homecontent,.component__banner{
/* .components__card, .components__homecontent, .components__paymentinfo{ */
.components__card, .components__homecontent  , .component__productdetail, .components__paymentinfo,{
  padding: 100px 0px;
}
