.Header {}

.Header__nav {
    z-index: 1000;
    width: 100%;
    height: 64px;
    background-color: #d70018;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Header__logo {}

.Header__img {
    width: 150px;
}

.Header__search {}

.search__input {}

.input_1 {
    padding: 5px 10px 5px 10px;
    width: 250px;
    border: none;
    border-radius: 10px;

}

.Header__cart {}

.Header__login {
    border: none;




}

.Header__address,
.Header__phone,
.Header__search,
.Header__address_1,
.Header__cart,
.Header__login {
    display: flex;
    color: aliceblue;
    padding: 10px 10px;
    font-size: 15px;
    background-color: #d70018;


}

.Header__address:hover,
.Header__phone:hover,
.Header__address_1:hover,
.Header__cart:hover,
.Header__login:hover {

    background-color: #df3346;
    border-radius: 10px;
    color: aliceblue;
}

.input_1 {
    color: black;
}

.phone__icon,
.address__icon,
.search__icon,
.cart__icon,
.login__icon {
    padding: 0 10px;

}


/* modal ////////////////*/
.modal {
    text-align: center;
}



.Login__modal {
    display: flex;


}

.dangnhap123 {
    transform: translateX(-30px);
    transform: translateY(3px);
    transform: translate(-30px, 5px);

}


.form__header {
    transform: translateX(-50px);

}

.dangnhap123 {}

.QMK {}

.DANGNHAP {}

.tt123 {
    background-color: #d70018 !important;
    text-align: center;
}


.ant-modal-footer button {
    display: none;

}