/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "SegoeUI", sans-serif;
}
p{
    margin: 0px;
    padding: 0px;
}
.nav-menu__title{
    display: flex;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

#nav{
    max-width: 1200px;
    margin: 0 auto;
}
.nav-menu__title{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    flex-direction: column;
  } 
  .nav-menu__title p {
    color:  #343a40;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
.nav-menu__title-icon{
    font-size: 25px;
    margin-right: 10px;
}
.nav-menu-list{
   display: flex;
   justify-content: space-between;
   cursor: pointer;
   margin-bottom: 15px;
   padding-left: 10px;
  
}

.nav-menu-list p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
 }
.nav-mennu__icon{
    font-size: 14px;
    /* margin-right: 25px; */



/* menu2 */

/* .menu2-title{
    font-size: 15px;
    font-weight: 600;
}
.menu2-contact p{
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 20px;
}

.menu2-contact p span{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
.nav__menu{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    padding-left: 15px;
} */



/* .box-s{
      box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
      border: 1px solid white;
      border-radius: 10px;
      background-color: #fff;
      margin-left: 16px;
}
.carousel-control-next-icon{
    color: red;
}

.menu2-contact{
    display: block
} */ 
p{
    margin: 0;
    padding: 0;
}
.menu_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu{
    max-width: 1200px;
    margin: 0 auto;
}
#menu ul{
   
}
#menu li{
    list-style: none;
}
.menu__icon1{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.menu__icon1 span{
    font-size: 23px;
}
.menu__icon1 p{
    font-size: 16px;
    margin-left: 10px;
    padding-top: 13px;
    font-weight: 600;
}
.box-shadow{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);

}

.chidtest{
    height: 500px;
    width: 800px;
    background-color: aquamarine;
    z-index: 1;
    position: absolute;
    left: 300px;
    top: 0;
  }

#menu{
    position: relative;
}
  