* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "SegoeUI", sans-serif;
}

.components__card  , .component__productdetail, .components__paymentinfo,.component__banner{
  padding: 100px 0px;
}
.components__homecontent{
  padding: 0px 0px 100px 0;
}
