.signup {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ant-form {
    width: 660px;

}



.tung123 {
    width: 739px;
    margin-left: 239px;
}